/* Body Styling */

body {
    background-color: Gainsboro;
}

/* H1H2 Styling */

h1, h2 {
    text-align: center;
}

/* Paragraph Styling */

p, li {
    font-family: helvetica;
    font-size: 15px;
}

/* Content Styling */

.content {
    max-width: 550px;
    margin: auto;
}

/* Image Styling */

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Title Styling */

.title {
    border: none;
    padding: 5px 5px;
    height: 100px;
    width: 100%;
    background-color: darkgray;
}

/* HR Styling */

hr {
    margin-top: 20px;
    margin-bottom: 20px
}

/* Link Styling */

a:link {
    color: hsl(213, 93%, 32%);
    text-transform: lowercase;
}

a:visited {
    color: hsl(213, 93%, 64%);
    text-transform: uppercase;
}

a:hover {
    color: hsl(213, 93%, 16%);
}

a:focus {
    color: chartreuse;
}

a:active {
    color: hsl(213, 93%, 48%);
}